{
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "$": true,
        "DEBUG": true,
        "WeixinJSBridge": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-console": [
            "error",
            {
                "allow": [
                    "log",
                    "warn"
                ]
            }
        ],
        "no-func-assign": [
            "off"
        ],
        "no-constant-condition": [
            "off"
        ]
    }
}
