<div class="<%=className%>">
    <div class="weui-mask"></div>
    <div class="weui-dialog <% if(isAndroid){ %> weui-skin_android <% } %>" role="dialog" aria-modal="true" tabindex="-1">
        <button class="weui-hidden_abs weui-dialog__close">关闭</button>
        <div class="weui-dialog__hd"><strong class="weui-dialog__title"><%=title%></strong></div>
        <div class="weui-dialog__bd"><%=content%></div>
        <div class="weui-dialog__ft">
            <% for(var i = 0; i < buttons.length; i++){ %>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_<%=buttons[i]['type']%>" role="button"><%=buttons[i]['label']%></a>
            <% } %>
        </div>
    </div>
</div>
