<div class="<% if(isAndroid){ %>weui-skin_android <% } %><%= className %>">
    <div class="weui-mask"></div>
    <div class="weui-actionsheet">
        <div class="weui-actionsheet__menu">
            <% for(var i = 0; i < menus.length; i++){ %>
            <div class="weui-actionsheet__cell"><%= menus[i].label %></div>
            <% } %>
        </div>
        <div class="weui-actionsheet__action">
            <% for(var j = 0; j < actions.length; j++){ %>
            <div class="weui-actionsheet__cell"><%= actions[j].label %></div>
            <% } %>
        </div>
    </div>
</div>
