<div class="<%= className %>">
    <div class="weui-mask"></div>
    <div class="weui-actionsheet" role="dialog" aria-modal="true" tabindex="-1">
        <button class="weui-hidden_abs weui-actionsheet__close">关闭</button>
        <% if(title){ %>
        <div class="weui-actionsheet__title">
            <p class="weui-actionsheet__title-text"><%= title %></p>
        </div>
        <% } %>
        <div class="weui-actionsheet__menu">
            <% for(var i = 0; i < menus.length; i++){ %>
            <div class="weui-actionsheet__cell <%= menus[i].className %>" role="button">
                <%= menus[i].label %>
                <div class="weui-actionsheet__cell__tips"><%= menus[i].desc %></div>
            </div>
            <% } %>
        </div>
        <div class="weui-actionsheet__action">
            <% for(var j = 0; j < actions.length; j++){ %>
            <div class="weui-actionsheet__cell <%= actions[j].className %>" role="button"><%= actions[j].label %></div>
            <% } %>
        </div>
    </div>
</div>
