<div class="<%= className %>">
    <div class="weui-mask"></div>
    <div class="weui-half-screen-dialog weui-picker" role="dialog" aria-modal="true" tabindex="-1">
        <div class="weui-half-screen-dialog__hd">
            <div class="weui-half-screen-dialog__hd__side">
                <button class="weui-btn_icon weui-wa-hotarea"><%= closeText %><i class="weui-icon-close-thin"></i></button>
            </div>
            <div class="weui-half-screen-dialog__hd__main">
                <strong class="weui-half-screen-dialog__title"><%= title %></strong>
                <span class="weui-half-screen-dialog__subtitle"><%= desc %></span>
            </div>
        </div>

        <div class="weui-half-screen-dialog__bd">
            <div class="weui-picker__bd"></div>
        </div>

        <div class="weui-half-screen-dialog__ft">
            <div class="weui-hidden_abs" id="weui-picker-aria-content"></div>
            <a href="javascript:;" class="weui-btn weui-btn_primary weui-picker__btn" id="weui-picker-confirm"  data-action="select" role="button"><%= confirmText %></a>
        </div>
    </div>
</div>
